@use '../base/variables';
@use '../base/global';


.banner{
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 25px;
    overflow: hidden;
    height: 223px;  
}

.banner img{
  width: 100%;         
  height: 100%;        
  object-fit: cover;    
  object-position: center;
  display: block;      
} 
    

.banner h1{
  position: absolute;
  text-align: center;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-weight: variables.$big-font-weight;
  font-size: 48px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  mix-blend-mode: darken;
}

@media (max-width: 375px) {
  .banner h1{
  left: 50%;     
  width: 90%;            
  transform: translate(-50%, -50%); 
  width: calc(100% - 40px);  
  text-align: left;
  font-weight: 700;
  font-size: 24px;
}

.banner{
    height: 111px;  
}
.banner h1 .line1,
.banner h1 .line2{
  display: block;
}
  
}