@use '../base/variables';
@use '../base/global';


.collapse-header-about button{
    background-color: variables.$primary-color;
    border: none;
}

.collapse-content-about{
    display: flex;
    flex-direction: column;
    width: 100%;    
    
}
.collapse-header-about{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding-left: 10px;   
  padding-right: 10px;      
  background-color: variables.$primary-color;
  border-radius: 10px;
  width: 75%;
  margin: 0 auto;
  height: 54px;
}

.collapse-header-about h3{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.collapse-text-about{
    margin: auto;
    margin-bottom: 10px; 
    max-height:0;
    overflow:hidden;
    transition:max-height 0.35s ease;
    font-size: 18px;
}
.collapse-text-about.open{
  max-height:500px;
}
.collapse-about-inner{
    width: 100%;
    padding: 20px;
    background-color: #f6f6f6f6;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}
@media (max-width: 375px) {
 

.collapse-content-about{
    overflow: hidden;
    border-radius: 10px;
}

.collapse-header-about{
  padding-left: 10px;   
  padding-right: 5px; 
  width: 95%; 
  height: 30px;
  overflow: hidden;    

}

.collapse-header-about h3{
    font-size: 13px;
    font-weight: 700;
}
  .collapse-text-about{
    padding-top: 0px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 300;
}
.collapse-header-about img{
    height:18px;
    width: 18px;
}
.collapse-text-about.open{
    text-align: left;
}
.collapse-about-inner{
    width: 88%;
    padding: 20px;
    background-color: #f6f6f6f6;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}
}