@use '../base/variables';
@use '../base/global';

.collapse-content{
     width: 50%;
     height: 52px;
}

.collapse-header{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding-left: 10px;         
  background-color: variables.$primary-color;
  border-radius: 10px;
}

.collapse-header h3{
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.collapse-header button{
    background-color: variables.$primary-color;
    border: none;
}
