.footer{
    padding-top: 15px;
    background-color: black;
    display: grid;
    place-items: center;
    color: white;
    gap: 10px;
}

.logo-footer{
width: 122px;
height: 39.44px;
}
.footer p{
    font-weight: 500;
    font-size: 24px;
}

@media (max-width: 375px) {
  .footer p{
    font-weight: 500;
    font-size: 12px;
}

}
 
  
