@use '../base/variables';
@use '../base/global';
.gallery{
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f6f6f6;
  padding: 70px;
  gap:100px;
  justify-content: center;
  overflow: hidden;
   justify-items: center;
  }

.card{
    width: 100%;
    max-width: 340px;
    height: 340px;
    position: relative;
    
    
}
  .card-cover {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: center;
  }
  .card-link{
    width: 100%;
    height: 100%;
  }
  .card h2{
    position: absolute;
    right: 70px;
    bottom: 5px;
    left: 20px; 
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-shadow:
     1px 1px 0 black,
    -1px 1px 0 black,
     1px -1px 0 black,
    -1px -1px 0 black;
  }
  .card-overlay{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(10, 10, 10, 0) 42%,    
    rgba(4, 4, 4, 0.205) 99.99%,
    rgba(0, 0, 0, 0.5) 100% 
    )
  }
@media (max-width: 375px) {
  .gallery{
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  padding: 0px;
  }
  .card{
    width: 100%;
    max-width: 335px;
    height: 255px;   
}



  }
