@use '../base/variables';
@use '../base/global';

.gallery{
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f6f6f6;
  border-radius: 25px;
  gap: 80px;
  padding: 56px;

  }


@media (max-width: 375px) {
  .gallery{
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  padding: 0px;
  margin-top: 20px
  }
  
  }
