@use '../base/variables';
@use '../base/global';

.slideshow{
    position: relative;
    display: block;
    overflow: hidden;
    height: 415px;
}
.slideshow-cover{
    width: 100%;         
    height: 100%;        
    object-fit: cover;    
    object-position: center;
    display: block;  
}
.previous {
    display: block;
    position: absolute;
    width: 46.68px;
    height: 79.2px;
    left: 10px;
    top: 50%;
}
.next {
    display: block;
    position: absolute;
    width: 46.68px;
    height: 79.2px;
    top: 50%;
    right: 10px;
}
.slide-count{
    font-size: 18px;
    font-weight: 500;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;    
}
.card-title{
    color: variables.$primary-color;
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card-location{
    padding: 0;
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
}
.host-content{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
}

.host-name{
    color: variables.$primary-color;
    font-size: 18px;
    font-weight: 500;
}
.host-img{
    height: 64px;
    width: 64px;
    border-radius: 50%; 
    object-fit: cover
}
.card-rating{
    display: flex;
    color: variables.$primary-color;
    font-size: 36px; 
}
.card-tags{
    display: flex;
    gap: 25px;
   
}
.card-tags span{
     font-size: 14px;
     font-weight: 500;
     color: white;
     display: flex;
     justify-content: center; 
     align-items: center;    
     width: 115px;
     height: 25px;
     background-color: variables.$primary-color;
     border-radius: 10px;
}

.collapses{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.card-loc{
    display: flex;
    flex-direction: column;
}

.logement-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.card-rating-tags{
    display: flex;
    justify-content: space-between;
}