@use '../base/variables';
@use '../base/global';
.card-content {
  display: flex;
  flex-direction: column;
}
.card-title{
    color: variables.$primary-color;
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card-location{
    padding: 0;
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
}
.host-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
}

.host-name{
    color: variables.$primary-color;
    gap: 3px;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    padding-top: 10px;
    display: flex;
    flex-direction: column;  
}
.host-img{
    height: 64px;
    width: 64px;
    border-radius: 50%; 
    object-fit: cover
}
.card-rating{
    display: flex;
    font-size: 36px; 
}
.star.active {
  color: variables.$primary-color;
}
.star.inactive {
  color: #E3E3E3;
}
.card-tags{
    display: flex;
    gap: 25px;
   
}
.card-tags span{
     font-size: 14px;
     font-weight: 500;
     color: white;
     display: flex;
     justify-content: center; 
     align-items: center;    
     width: 115px;
     height: 25px;
     background-color: variables.$primary-color;
     border-radius: 10px;
}


.card-loc{
    display: flex;
    flex-direction: column;
}

.card-host-rating{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.rating-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.logement-info{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.card-equipment{
    font-size: 18px;
    font-weight: 400;

}
.card-info{
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 375px) {
    
.host-name{
    padding-top: 0px;
}


.card-equipment{
    font-size: 12px;
    font-weight: 400;

}
.card-info{
    font-size: 12px;
    font-weight: 400;
}

.rating-host {
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
  }
    .card-title{
    font-size: 18px;
    font-weight: 500;
}
.card-location{
    font-size: 14px;
}
.host-content{
    order: 2;
    gap: 5px;
}

.host-name{
    font-size: 12px;
    
}
.host-img{
    height: 32px;
    width: 32px;
}
.card-rating{
    font-size: 18px; 
    
}
.card-tags{
    gap: 5px;
    
}
.card-tags span{
     font-size: 10px;   
     width: 84px;
     height: 18px;}



.logement-info{
    flex-direction: column;
    margin-top: 0px;
}


  }
