@use '../base/variables';
@use '../base/global';

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 288px;
    font-weight: 700;
    color: variables.$primary-color;
}
.error p {
    font-size: 36px;
    font-weight: 500;
    color: variables.$primary-color;
}
.error a{
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
}


@media (max-width: 375px) {
    .error h3{
    font-size: 96px;
    font-weight: 700;
}
  
.error p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.error a{
    font-size: 14px;
    font-weight: 500;
}
.line1, .line2{
    display: block;
}
 
}