.banner{
    position: relative;
    border: solid 1px black;
    height: 223px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 25px;
}
.banner img{
    height: 223px;
    width: 100%;
    border-radius: 25px;
    display: block; 
}
.banner h1{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-weight: 700;
  font-size: 48px;
}