//Couleurs//

$primary-color: #ff6060;
$text-color: #000000;
$background-color: #ffffff;

//Police//
$font-family: 'Montserrat', sans-serif;

//Taille texte et poids//
$low-font-size: 18px;
$low-font-weight: 400;
$medium-font-weight: 500;

$big-font-size: 24px;
$big-font-weight: 700;



